<div id="title"><h3>所有学生</h3></div>
  <%= link_to '首页', root_path %>
  <%= link_to '添加学生', new_studentinfo_path %>
  <%= link_to '添加班级', new_container_path %>
<table id="ta">
  <tr id="trcolor">
    <td>姓名</td>
    <td>性别</td>
    <td>操作</td>
  </tr>

  <% @students.each do |student| %>
    <tr id="bgtr">
      <td><%= student.name %></td>
      <td><%= student.gender %></td>
      <td><%= link_to '编辑', edit_studentinfo_path(student) %>
	  <%= link_to '详情', studentinfo_path(student) %>
          <%= link_to '删除', studentinfo_path(student),
                      method: :delete, data: { confirm: '确认删除？'}%></td>
    </tr>
  <% end %>
</table>

